body {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-family: 'Lora', serif;
      margin: 0;
    overflow-x: hidden;
    background-color: #000;
  height: 200vh;
  position: relative;
background-color: #000000;
opacity: 1;
background-size: 12px 12px;
background-image: repeating-linear-gradient(45deg, #030303 0, #030303 1.2000000000000002px, #000000 0, #000000 50%);
}
.bar1, .bar2, .bar3 {
  width: 30px;
  height: 2px;
  background-color: #fff;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  transform: translate(0, 4px) rotate(-45deg);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  transform: translate(0, -11.5px) rotate(45deg);
}
.navbar {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #000000;
    margin-bottom: 0;
    z-index: 9;

  }
h1{
    color: #fff;
}
.navbar-brand{
    color: #fff;
}
  .navbar-nav {
    display: flex;
    color: #fff;
    background-color: black;
  }
.navbar-nav > li > a {
  width: 150px;
  text-align: center;
  font-size: 16px;
}

.navbar-nav > li > a i {
  font-size: inherit;
}
    .navbar-custom {
      height: 100px;
    }
    .navbar-brand, .nav-link {
      line-height: 40px;
    }
  .navbar-nav .nav-link {
    padding: 10px 20px;
    color: #fff;
    transition: 0.3s ease;
}
navbar-collapse{
    width: 100%;
}

.navbar-toggler-icon {
  transition: transform 0.2s ease-out;
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  transform: rotate(90deg);
}
  .nav-item:hover {
    background-color: white;
        transition: 0.3s ease;
  }

  .nav-item:hover .nav-link {
    color: #000000;
        transition: 0.3s ease;
  }
  .navbar-toggler-icon {
    filter: invert(100%);
  }
.navbar-collapse-container {
  width: 100%;
  background-color: inherit;
}

.dropdown-menu {
  background-color: black;
  border: 5px solid black;
      width: 700px;
  padding: 10px;
  margin-top: -200px;
    border-radius: 0%;
    display: block;
    opacity: 0;
    visibility: hidden;
    transform: translateY(100%);
    transition: all .1s;
}
.dropdown:hover .dropdown-menu{
    opacity: 1;
    margin-top: 10px;
    visibility: visible;
    transform: translateY(0%);
    transition: all .3s;
}
  .dropdown-item {
      padding-right: 8rem;
      padding-bottom: 1.8rem;
    background-color: #000000;
    color: #fff;
    transition: 0.3s ease;
  }
  .dropdown-item:hover {
    background-color: #fff;
    color: #000000;
    transition: 0.3s ease;
  }
.nav-item.dropdown:hover .dropdown-menu {
    display: block;
    opacity: 1;
    visibility: visible;
}
.dropdown-arrow {
    font-size: 10px;
    margin-right: -70px;
    vertical-align: middle;
}
.nav-link-events {
    margin-left: -40px;
}
.banner {
  position: relative;
  height: 800px;
  width: 100%;
  overflow: hidden;
  margin-top: 100px;
  margin-bottom: -600px;
}

.banner-image {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
  opacity: 0;
  transition: opacity 1s ease;
}

.banner-image.active {
  opacity: 1;
}
    .bg-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
.banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
  text-align: center;
  color: #fff;
  z-index: 1;
  max-width: 80%;
}

.banner-text h2 {
  font-size: 3em;
  margin-bottom: 0.5em;
}

.banner-text p {
  font-size: 1.5em;
  margin-bottom: 1em;
}
.cover {
  object-fit: cover;
  width: 150%;
  height: 100%;
}
h2{
    color: #fff;
    padding: 40px;
}
h3{
    color: #fff;
}
.btn-primary {
  background-color: #000000;
  color: #fff;
  border: 0px solid #fff;
}

.btn-primary:hover {
   background-color: #fff;
  color: #000000;
}
footer {
  margin-top: 150px;
    background-color: #000000;
    border-top: 2px solid #fff;
}

footer p {
  margin-bottom: 10px;
}

footer i {
  color: white;
  cursor: pointer;
}
    .nav-link.custom-btn {
    width: 150px;
    margin-bottom: 50px;
    margin-top: 50px;
    height: 60px;
    font-size: 19px;
    color: #fff;
    background-color: #000000
    transition: color 0.3s ease;
}

.nav-link.custom-btn:hover {
    color: #000;
    background-color: #fff
}
.watermarkremover{
    position: absolute;
    width: 100%;
    height: 100px;
    background-color: black;
    margin-top: -63px;
    z-index: 1;
}
/* Малые экраны */
@media (min-width: 100px) {
                .bg-image-container {
      position: relative;
      width: 100%;
    top: -550px;
      height: 1250px;
    background-image: url("MAN_No_Text.jpg");
    background-size: cover;
    background-repeat: repeat-x;
    background-position: center;
      overflow: hidden;
    }
    .text-under-banner{
        margin-top: -450px;
    }
        p{
    color: #fff;
        font-size: 16px;
}
        .nav-link.custom-btn {
    width: 150px;
    margin-bottom: 0px;
    margin-top: 0px;
    height: 60px;
    font-size: 19px;
    color: #fff;
    background-color: #000000
    transition: color 0.3s ease;
}

.nav-link.custom-btn:hover {
    color: #000;
    background-color: #fff
}
}

/* Средние экраны */
@media (min-width: 600px) {

            .bg-image-container {
      position: relative;
      width: 100%;
    top: -300px;
      height: 1250px;
    background-image: url("MAN_T.jpg");
    background-repeat: repeat-x;
    background-position: right;
      overflow: hidden;
    }
       .text-under-banner{
        margin-top: -150px;
    }
        p{
    color: #fff;
        font-size: 18px;
}
}

/* Большие экраны */
@media (min-width: 900px) {

       .image-text {
      font-size: 3rem;
    }
         .image-container img {
      height: 800px;
    }
        .nav-link-events {
    margin-left: 0px;
}
    .dropdown-arrow {
    font-size: 10px;
    margin-right: -10px;
    vertical-align: middle;
}
        .bg-image-container {
      position: relative;
      width: 100%;
    top: 50px;
      height: 800px;
    background-image: url("MAN_P.jpg");
    background-size: cover;
    background-repeat: repeat-x;
    background-position: left;
      overflow: hidden;
    }
       .text-under-banner{
        margin-top: 150px;
    }
        p{
    color: #fff;
        font-size: 18px;
}
}


/* Экстра большие экраны */
@media (min-width: 1300px) {
    .dropdown-arrow {
    font-size: 10px;
    margin-right: -10px;
    vertical-align: middle;
}
        .bg-image-container {
      position: relative;
      width: 100%;
    top: -50px;
      height: 1000px;
    background-image: url("MAN_P.jpg");
    background-repeat: repeat-x;
    background-position: left;
    background-size: cover;
      overflow: hidden;
    }
           .text-under-banner{
        margin-top: 100px;
    }
    p{
    color: #fff;
        font-size: 18px;
}
}
