body {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-family: 'Lora', serif;
      margin: 0;
    overflow-x: hidden;
    background-color: #000;
  height: 200vh;
  position: relative;
background-color: #000000;
opacity: 1;
background-size: 12px 12px;
background-image: repeating-linear-gradient(45deg, #030303 0, #030303 1.2000000000000002px, #000000 0, #000000 50%);
}
.bar1, .bar2, .bar3 {
  width: 30px;
  height: 2px;
  background-color: #fff;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  transform: translate(0, 4px) rotate(-45deg);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  transform: translate(0, -11.5px) rotate(45deg);
}
.navbar {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #000000;
    margin-bottom: 0;
    z-index: 9;

  }
.navbar-brand{
    color: #fff;
}
  .navbar-nav {
    display: flex;
    color: #fff;
    background-color: black;
  }
.navbar-nav > li > a {
  width: 150px;
  text-align: center;
  font-size: 16px;
}

.navbar-nav > li > a i {
  font-size: inherit;
}
    .navbar-custom {
      height: 100px;
    }
    .navbar-brand, .nav-link {
      line-height: 40px;
    }
  .navbar-nav .nav-link {
    padding: 10px 20px;
    color: #fff;
    transition: 0.3s ease;
}
navbar-collapse{
    width: 100%;
}

.navbar-toggler-icon {
  transition: transform 0.2s ease-out;
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  transform: rotate(90deg);
}
  .nav-item:hover {
    background-color: white;
        transition: 0.3s ease;
  }

  .nav-item:hover .nav-link {
    color: #000000;
        transition: 0.3s ease;
  }
  .navbar-toggler-icon {
    filter: invert(100%);
  }
.navbar-collapse-container {
  width: 100%;
  background-color: inherit;
}

.dropdown-menu {
  background-color: black;
  border: 5px solid black;
      width: 700px;
  padding: 10px;
  margin-top: -200px;
    border-radius: 0%;
    display: block;
    opacity: 0;
    visibility: hidden;
    transform: translateY(100%);
    transition: all .1s;
}
.dropdown:hover .dropdown-menu{
    opacity: 1;
    margin-top: 10px;
    visibility: visible;
    transform: translateY(0%);
    transition: all .3s;
}
  .dropdown-item {
      padding-right: 8rem;
      padding-bottom: 1.8rem;
    background-color: #000000;
    color: #fff;
    transition: 0.3s ease;
  }
  .dropdown-item:hover {
    background-color: #fff;
    color: #000000;
    transition: 0.3s ease;
  }
.nav-item.dropdown:hover .dropdown-menu {
    display: block;
    opacity: 1;
    visibility: visible;
}
.dropdown-arrow {
    font-size: 10px;
    margin-right: -70px;
    vertical-align: middle;
}
.nav-link-events {
    margin-left: -40px;
}
h1{
    color: #fff;
    margin-top: 100px;
}
.min-vh-50-AS{
   min-height: 30vh;
}
h3{
    font-size: 22px;
    color: #fff;
}
a i {
  color: #fff;
    font-size: 1.1rem;
}
h2{
    margin-top: 150px;
    color: #fff;
}
p{
    font-size: 16px;
    color: #fff;
}
footer {
  margin-top: 100px;
    background-color: #000000;
    border-top: 2px solid #fff;
}

footer p {
  margin-bottom: 10px;
}

footer i {
  color: white;
  cursor: pointer;
}
      .d-block{
    width: 100%;
    height: 800px;
    object-fit: cover;
}
/* Малые экраны */
@media (min-width: 100px) {
        h3{
    font-size: 20px;
    color: #fff;
}
p{
    font-size: 16px;
    color: #fff;
}
        .text-below-banner{
  margin-top: -400px;
}
                .bg-image-container {
      position: relative;
      width: 100%;
    top: -550px;
      height: 1250px;
    background-image: url("MAN_No_Text.jpg");
    background-size: cover;
    background-repeat: repeat-x;
    background-position: center;
      overflow: hidden;
    }
        .nav-link.custom-btn {
    width: 150px;
    margin-bottom: 0px;
    margin-top: 0px;
    height: 60px;
    font-size: 19px;
    color: #fff;
    background-color: #000000
    transition: color 0.3s ease;
}

.nav-link.custom-btn:hover {
    color: #000;
    background-color: #fff
}
}
/* Средние экраны */
@media (min-width: 600px) {
  .min-vh-50-ab {
    min-height: 60vh;
  }
    h3{
    font-size: 20px;
    color: #fff;
}
p{
    font-size: 16px;
    color: #fff;
}
        .text-below-banner{
  margin-top: -100px;
}
            .bg-image-container {
      position: relative;
      width: 100%;
    top: -300px;
      height: 1250px;
    background-image: url("MAN_T.jpg");
    background-repeat: repeat-x;
    background-position: right;
      overflow: hidden;
    }
}
/* Большие экраны */
@media (min-width: 900px) {
  .min-vh-50-ac {
    min-height: 30vh;
  }  .min-vh-50-bc {
    min-height: 30vh;
  }
       .image-text {
      font-size: 3rem;
    }
         .image-container img {
      height: 800px;
    }
        .nav-link-events {
    margin-left: 0px;
}
    .dropdown-arrow {
    font-size: 10px;
    margin-right: -10px;
    vertical-align: middle;
}
        .bg-image-container {
      position: relative;
      width: 100%;
    top: 50px;
      height: 800px;
    background-image: url("MAN_P.jpg");
    background-size: cover;
    background-repeat: repeat-x;
    background-position: left;
      overflow: hidden;
    }
        .text-below-banner{
  margin-top: 150px;
}
        .nav-link.custom-btn {
    width: 150px;
    margin-bottom: 50px;
    margin-top: 50px;
    height: 60px;
    font-size: 19px;
    color: #fff;
    background-color: #000000
    transition: color 0.3s ease;
}

.nav-link.custom-btn:hover {
    color: #000;
    background-color: #fff
}
}

/* Экстра большие экраны */
@media (min-width: 1200px) {
  .min-vh-50-ad {
    min-height: 25vh;
  }  .min-vh-50-bd {
    min-height: 25vh;
  }
    .nav-link-events {
    margin-left: 0px;
}
    .dropdown-arrow {
    font-size: 10px;
    margin-right: -10px;
    vertical-align: middle;
}
        .bg-image-container {
      position: relative;
      width: 100%;
    top: -50px;
      height: 1000px;
    background-image: url("MAN_P.jpg");
    background-repeat: repeat-x;
    background-position: left;
    background-size: cover;
      overflow: hidden;
    }
    h3{
    font-size: 22px;
    color: #fff;
}
p{
    font-size: 16px;
    color: #fff;
}
        .row
       text-below-banner{
  margin-top: 100px;
}
}
